In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
df['First_Name'] = ['John', 'Doe', 'Bill']
df['Last_Name'] = ['Marwel', 'Williams', 'Harry']
df

  First_Name Last_Name
0       John    Marwel
1        Doe  Williams
2       Bill     Harry

In [24]:
columns = ['tag1', 'tag2']

In [18]:
df['full_name'] = df[columns].agg(', '.join, axis=1)

In [19]:
df

  First_Name Last_Name      full_name
0       John    Marwel   John, Marwel
1        Doe  Williams  Doe, Williams
2       Bill     Harry    Bill, Harry

In [22]:
data = {
    "tag1": ['good', 'bad', 'evil'],
    "tag2": ['cringe', 'based', '']
}

df = pd.DataFrame(data)

In [25]:
df['full_name'] = df[columns].agg(', '.join, axis=1)

In [26]:
df

   tag1    tag2     full_name
0  good  cringe  good, cringe
1   bad   based    bad, based
2  evil                evil,