In [1]:
import pandas as pd

In [174]:
path = '../../../data/dusseldorf.xlsx'
df = pd.read_excel(path, index_col=0)

In [175]:
makler = df[['Makler', 'Verwalter', 'Projektentwickler']]

In [176]:
columns = ['Makler', 'Verwalter', 'Projektentwickler']

for column in columns:
    makler[column] = makler[column].replace(['WAHR', False], [column, ''])

/tmp/ipykernel_12885/1775439701.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  makler[column] = makler[column].replace(['WAHR', False], [column, ''])

In [177]:
makler

        Makler  Verwalter  Projektentwickler
Status
Kalt    Makler
Kalt    Makler             Projektentwickler
Kalt    Makler  Verwalter  Projektentwickler
Kalt    Makler
Kalt    Makler
...        ...        ...                ...
Kalt    Makler
Kalt    Makler
Kalt    Makler
Kalt    Makler
Kalt    Makler  Verwalter

[79 rows x 3 columns]

In [172]:
makler['Tags'] = makler[columns].agg(', '.join, axis=1)
makler

TypeError: list indices must be integers or slices, not list

In [173]:
makler['Tags'] = makler['Tags'].str.split(', ')
makler

TypeError: list indices must be integers or slices, not str

In [167]:
makler['Tags'] = [list(filter(None, a)) for a in makler['Tags']]
makler['Tags']

/tmp/ipykernel_12885/450585711.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  makler['Tags'] = [list(filter(None, a)) for a in makler['Tags']]

Status
Kalt                                  [Makler]
Kalt               [Makler, Projektentwickler]
Kalt    [Makler, Verwalter, Projektentwickler]
Kalt                                  [Makler]
Kalt                                  [Makler]
                         ...
Kalt                                  [Makler]
Kalt                                  [Makler]
Kalt                                  [Makler]
Kalt                                  [Makler]
Kalt                       [Makler, Verwalter]
Name: Tags, Length: 79, dtype: object

In [40]:
df[['first_name','last_name']] = df['fullName'].loc[df['fullName'].str.split().str.len() == 2].str.split(expand=True)
df

            fullName  tag1    tag2          Tags first_name last_name
0          bob dylan  good  cringe  good, cringe        bob     dylan
1        dan chiriac   bad   based    bad, based        dan   chiriac
2  joachim K. pastor  evil                evil,         NaN       NaN

In [102]:
df['fullNameSplitLength'] = df['Ansprechpartner'].str.split().str.len()
df['firstName'] = df['lastName'] = ''
df.loc[
  df['fullNameSplitLength'] >= 1,
  'firstName'
] = df.loc[df['fullNameSplitLength'] >= 1]['Ansprechpartner'].str.split().str[0]
df.loc[
  df['fullNameSplitLength'] >= 2,
  'lastName'
] = df.loc[df['fullNameSplitLength'] >= 2]['Ansprechpartner'].str.split().str[-1]

In [104]:
df[['firstName', 'lastName', 'Ansprechpartner']]

         firstName    lastName                             Ansprechpartner
Status
Kalt        Thomas     Clotten                              Thomas Clotten
Kalt        Walter       Brune                                Walter Brune
Kalt       Tatjana        BÃ¤hr                                Tatjana BÃ¤hr
Kalt          Dirk     KÃ¼ppers                                Dirk KÃ¼ppers
Kalt          Lutz  Rautenberg                             Lutz Rautenberg
...            ...         ...                                         ...
Kalt    Dipl.-Ing.     Zellnig  Dipl.-Ing. Ulrich Brombach, Stefan Zellnig
Kalt         Frank     Baumann                               Frank Baumann
Kalt    Dipl.-Kfm.     Geuther                  Dipl.-Kfm. Hartmut Geuther
Kalt         Klaus        Knop                                  Klaus Knop
Kalt         Peter      Bohlen                                Peter Bohlen

[79 rows x 3 columns]